extends base

block content  
	main.main
		.login-form
			h2.heading-secondary.ma-bt-lg Are you sure?
			div.form.form-delete-account
				.form__group
					a.btn.btn--green(href='/me') Back
					button.btn.btn--delete-account Yes